[submodule "ext/ilmpclient"]
	path = ext/ilmpclient
	url = http://github.com/ImplicitLink/ilmpclient
[submodule "ext/dsa_verify"]
	path = ext/dsa_verify
	url = http://github.com/ImplicitLink/dsa_verify
